/*-- scss:defaults --*/
$body-color: #fff;
$link-color: black;
$font-family: Roboto;
$font-color: black;
$presentation-heading-font: Roboto;
$presentation-heading-color: #19598d;
$body-font-color: black;



/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
  $font-family: Roboto;
}
