/*-- scss:defaults --*/
$link-color: black;
/*--$font-family: Roboto;--*/
$font-color: black;
$presentation-heading-font: Helvetica !default;
$presentation-heading-color: #004aad;

$presentation-h2-font-size: 1.5em;
$body-font-color: black;



/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid;
  padding-left: 0.5em;
}